<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Please Add a task..." value="<%= tasks.task %> " name="task">
    <div class="input-group-append">
      <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
</div>