<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit | NodeList</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <div class="card-title">
                            <h2>Edit Task</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="/tasks/<%=task.id%>?_method=PUT" method="POST">
                            <%- include("./partials/_form_field.ejs") %>
                        </form>
                        <a href="/" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>
</html>